{
  "presets": ["react"],
  "plugins": [
    [
      "styled-jsx/babel",
      {
        "vendorPrefixes": false
      }
    ],
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": ["es2015"]
    }
  }
}
