{
  "plugins": [
    "react"
  ],
  "extends": [
    "idiomatic",
    "plugin:react/recommended"
  ],
  "parserOptions": {
      "sourceType": "module",
      "ecmaFeatures": {
        "modules": true,
        "jsx": true
      }
  },
  "env": {
      "node": true
  }
}
