{
  "plugins": [
    "react"
  ],
  "extends": [
    "idiomatic",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "rules": {
    "space-in-parens": 0,
    "object-curly-spacing": 0,
    "computed-property-spacing": 0,
    "space-infix-ops": 0,
    "one-var": 0,
    "no-console": 0
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  }
}
